.App{
  width: 100vw;
  height: 100vh;
}

.App-header{
  background-color: #6495ED;
  height: 150px;
}

.textos-fundepes{
  margin-top: 0px;
}
.line {
  height: 2px; /* Espessura da linha */
  background-color: #e0e0e0; /* Cor da linha */
  margin: 0;
}